@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "SF Pro Display", Inter, system-ui, sans-serif;
  color: #111;
  background-color: #fff;
}

body.dark {
  color: #fafafa;
  background-color: #000;
}

* {
  scroll-behavior: smooth;
}
