all:
  children:
    app_servers:
      hosts:
        app_vm:
          ansible_host: 4.218.14.65
          ansible_user: azureuser
          ansible_ssh_private_key_file: ~/.ssh/azure_sms_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    
    monitoring_servers:
      hosts:
        monitor_vm:
          ansible_host: 20.41.80.191
          ansible_user: azureuser
          ansible_ssh_private_key_file: ~/.ssh/azure_sms_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
  
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_host_key_checking: false
    db_host: sms-psql-server.postgres.database.azure.com
    db_name: sms
    db_user: smsadmin
    db_password: SMS_DevOps_2025!SecurePassword
    jwt_secret: super-secret-change-me-please-1234567890abcdef
